

<h1>Get your change </h1>
<form action='/change'>
<div class="form-group">
    <label for="money">How much do you need change for? </label>
    <input id="money" name="money" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Change Machine</button>
</form>
